* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: sticky;
    top: 0;
}

.header__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 100%;
    height: 5px;
    background-color: rgb(238, 132, 11);
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header__logo__ico {
    display: flex;
}

.header__logo__title {
    margin: 0;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.header__search {
    width: 25%;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 5px;
    border: 1px solid rgb(216, 198, 178);
    border-radius: 25px;
    padding: 5px 15px;
}

.header__search__box {
    outline: none;
    border: none;
    width: calc(100% - 25px);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.header__search__box::-webkit-input-placeholder {
    color: rgb(224, 158, 83);
}

.header__search__btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
}

.main {
    padding: 0 15px;
    width: 100%;
    /* height: calc(100vh - 95px); */
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.image {
    width: 24%;
    object-fit: cover;
    cursor: pointer;
    transition: scale 0.3s linear;
    transition: border-radius 0.3s linear;
}

/* .image:hover {
    scale: 1.1;
    border-radius: 20px;
} */


