:root {
    --title-font-family: 'Bungee Spice', cursive;
    --main-font-family: 'Grandstander', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px;
    background: url('./images/bg3.png') center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 75%;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    position: relative;
    display: flex;
}

.canvas {
    visibility: hidden;
    width: 620px;
    height: 650px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.canvas__image {
    width: 620px;
    height: 650px;
    /* background-image: url('./images/start-game.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.canvas-show {
    visibility: visible;
    animation: fade-in 0.8s ease-in-out;
}

.canvas__image-start {
    background-image: url('./images/start-game.png');
}

.canvas__image-lost {
    visibility: visible;
    background-image: url('./images/game-over.png');
}

.start {
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url('./images/start.png');
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #ffff00;
    border: 7px solid #080808;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}

.start__inner {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.start__title {
    display: flex;
    width: 100%;
    font-family: var(--title-font-family);
    font-size: 100px;
    justify-content: flex-start;
}

.start__title-one {
    background-image: url('./images/target.png');
    background-repeat: no-repeat;
    background-position: 90%;
}

.start__title:last-of-type {
    justify-content: end;
}

.start__circle {
    position: absolute;
    top: 55px;
    right: 88px;
    z-index: 5;
}

.start__circle-bam {
    position: absolute;
    top: 53px;
    right: 90px;
    z-index: 1;
    visibility: hidden;
}

.start__play {
    /* background-color: transparent;
    border: none; */
    /* background-color: #50e050; */
    font-family: var(--main-font-family);
    font-size: 48px;
    color: rgb(203, 19, 0);
    background-color: rgb(244, 162, 1);
    padding: 20px 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 5px solid rgb(224, 97, 20);
    /* transform: rotate(-5deg); */
}

.start-fadeout {
    animation: fade-out 1.5s ease-in-out;
}

.start-hide {
    visibility: hidden;
}

.footer {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer__item {
    display: flex;
}

.footer__item:first-of-type {
    margin-right: auto;
}

.footer__item:last-of-type {
    margin-left: auto;
}

.footer__ico:hover {
    fill: #080808;
}

.start:hover .start__circle-bam {
    visibility: visible;
    z-index: 10;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}
