:root {
    --title-font-family: 'Bungee Spice', cursive;
    --main-font-family: 'Grandstander', cursive;
    --color-fill: #e06114;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background: url('./images/bg3.png') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.header {
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.header-show {
    visibility: visible;
    animation: fade-in 0.8s ease-in-out;
}

.header.end .sound {
    visibility: hidden;
}

.header.end .settings {
    visibility: hidden;
}

.btn {
    padding: 5px;
    background-color: rgba(255, 255, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.sound {
    margin-right: auto;
}

.settings {
    margin-left: auto;
}

.score {
    padding: 4px 0;
    background-color: rgba(255, 255, 0, 0.5);
    /* width: 150px; */
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 10px / 10px;
}

.score__value {
    font-family: var(--title-font-family);
    font-size: 35px;
    line-height: 1;
}

.main {
    width: 75%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

.main__container {
    width: 100%;
    display: flex;
}

.canvas {
    visibility: hidden;
    width: 620px;
    height: 650px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: url('./images/target-cursor.png') 25 25, auto;
}

.canvas__image {
    width: 620px;
    height: 650px;
    /* background-image: url('./images/start-game.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.canvas-show {
    visibility: visible;
    animation: fade-in 0.8s ease-in-out;
}

.canvas__image-start {
    background-image: url('./images/start-game.png');
}

.canvas__image-lost {
    visibility: visible;
    background-image: url('./images/game-over.png');
}

.start {
    width: 638px;
    height: 500px;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 319px);
    background-image: url('./images/start.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #ffff00; */
    /* background-color: transparent; */
    /* border: 7px solid #080808; */
    /* border-radius: 25px; */
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.start__inner {
    padding: 0px 35px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.start__title {
    display: flex;
    width: 100%;
    font-family: var(--title-font-family);
    font-size: 100px;
    justify-content: flex-start;
    margin-bottom: 0;
}

.start__title-one {
    background-image: url('./images/target.png');
    background-repeat: no-repeat;
    background-position: 90%;
}

.start__title:last-of-type {
    justify-content: end;
}

.start__circle {
    position: absolute;
    top: 35px;
    right: 103px;
    z-index: 5;
}

.start__circle-bam {
    position: absolute;
    top: 35px;
    right: 105px;
    z-index: 1;
    visibility: hidden;
}

.start__text {
    font-family: var(--main-font-family);
    font-size: 25px;
    animation: text 2s infinite;
}

/* .start__btns {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px 0 25px;
    fill: rgb(204, 20, 0);
} */

.start__btn {
    font-family: var(--main-font-family);
    font-size: 48px;
    color: rgb(204, 20, 0);
    background-color: rgb(244, 162, 1);
    padding: 20px 50px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 5px solid var(--color-fill);
    fill: rgb(204, 20, 0);
    transition: background-color 0.3s ease-in-out;
    /* margin-bottom: 20px; */
}

.start__btn:first-of-type {
    font-size: 15px;
    display: none;
}

.start__btn:last-of-type {
    margin-bottom: 20px;
}

.start-fadeout {
    animation: fade-out 1.5s ease-in-out;
}

.start-hide {
    visibility: hidden;
}

.start.win .start__btn:last-of-type {
    margin-bottom: 0;
}

.start.lost .start__btn:last-of-type {
    margin-bottom: 0;
}

.start.win .start__btn:first-of-type {
    display: inline;
}

.start.lost .start__btn:first-of-type {
    display: inline;
}

.start.win .start__circle {
    right: 94px;
}

.start.win .start__circle-bam {
    right: 96px;
}

.footer {
    padding-top: 10px;
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer__item {
    display: flex;
}

.footer__item:first-of-type {
    margin-right: auto;
}

.footer__item:last-of-type {
    margin-left: auto;
}

.modal__background {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.modal__background-active {
    opacity: 1;
	visibility: visible;
    transition: all 0.3s;
}

.modal {
    position: fixed;
    width: 574px;
    height: 450px;
    top: calc(50% - 225px);
    left: calc(50% - 287px);
    visibility: hidden;
    z-index: 2000;
    backface-visibility: hidden;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 15px 15px;
    background-image: url('./images/modal.png');
    background-position: center;
    background-repeat: no-repeat;
}

.modal__background.modal__background-active .modal {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.modal__title {
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 55px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: -16px;
    right: 0;
    background-color: transparent;
    border: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.modal__close__line {
    position: absolute;
    top: 15px;
    left: 3px;
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--color-fill);
    transition: background-color 0.3s ease-in-out;
}

.modal__close__line:first-of-type {
    transform: rotate(-45deg);
}

.modal__close__line:last-of-type {
    transform: rotate(45deg);
}

.modal__ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    list-style: none;
}

.modal__li {
    width: 60%;
}

.btnModal {
    width: 100%;
    font-family: var(--main-font-family);
    font-size: 30px;
    fill: rgb(204, 20, 0);
    color: rgb(204, 20, 0);
    background-color: #f4a201;
    border: 5px solid var(--color-fill);
    padding: 15px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.yesOrNo {
    width: 100%;
    display: none;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    padding: 20px 70px;
}

.question {
    font-family: var(--main-font-family);
    font-size: 30px;
}

.yesOrNo__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.yesOrNo__btn {
    background-color: #f4a201;
    border: 5px solid var(--color-fill);
    color: rgb(204, 20, 0);
    font-family: var(--main-font-family);
    font-size: 30px;
    border-radius: 50%;
    padding: 20px 50px;
    cursor: pointer;
}

.modal.ask .modal__ul {
    display: none;
}

.modal.ask .yesOrNo {
    display: flex;
}

.leaders {
    width: 638px;
    height: 500px;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 319px);
    display: none;
    background-image: url('./images/start.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.leaders-active {
    display: flex;
}

.leaders__ol {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font-family);
    font-size: 33px;
}

.leaders__li {
    text-align: center;
}

.leaders__li-current {
    animation: text 2s infinite;
}

@media (hover: hover) {
    .btn:hover {
        fill: var(--color-fill);
    }

    .footer__ico:hover {
        fill: var(--color-fill);
    }

    .start__play:hover ~ .start__inner > .start__circle-bam {
        visibility: visible;
        z-index: 10;
    }

    .start__btn:hover {
        background-color: rgb(245, 174, 32);
    }

    .modal__close:hover .modal__close__line {
        background-color: rgb(204, 20, 0);
    }

    .btnModal:hover {
        background-color: rgb(245, 174, 32);
    }

    .yesOrNo__btn:hover {
        background-color: rgb(245, 174, 32);
    }

}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes text {
    0% {
        color: rgba(0, 0, 0, 1);
    }

    50% {
        color: rgba(0, 0, 0, 0.25);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}
