*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ===== header ====== */
.header {
    background-color: #0C0C0E;
    padding: 0 20px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.container-full {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
    width: 100%;
}

.header__title {
    line-height: 1.66667;
    font-size: 30px;
    margin: 0;
    letter-spacing: 0.6px;
}

.title {
    font-family: 'Forum', cursive;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

.header__list {
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.header__list {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.5;
    list-style: none;
}

.header__list__link {
    color: #ffffff;
    text-decoration: none;
}

.header__image {
    display: flex;
    align-items: center;
}

.header__icon {
   height: 28px;
   width: 28px;
}

/* =====main===== */

/* =====welcom===== */
.welcome {
    background: url(images/background.jpg) no-repeat center; 
    height: 600px;
    position: relative;
    margin-bottom: 30px;
}

.welcome__overlay {
    background: linear-gradient(180deg, #0D0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    width: 100%;
    height: 50%;
}

.welcome__inner {
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    position: absolute;
    left: 0;
    bottom: 160px;
}

.welcome__title {
    margin: 0;
    text-align: center;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* =====About===== */
.about {
    margin-bottom: 40px;
}

.section__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.section__title::after {
    content: '';
    display: block;
    width: 50px;
    height: 20px;
    border-bottom: 1px solid #0C0C0E;
    margin: 0 auto;
    margin-bottom: 40px;
}

.about__text {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin: 0;
    margin-bottom: 20px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
}

.about__carousel__image {
    display: flex;
    margin: 0 auto;
}

/* =====Favorites===== */

.favorites__text {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 40px;
}

.favorites__form {
    display: flex;
    align-items: flex-start;
    margin-bottom: 42px;
}

.favorites__form__radio {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
    margin-right: 20px;
}

.favorites__form__label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 90px;
}

.favorites__form__label-checked {
    font-weight: 700;
}

.favorites__items {
    display: none;
}

.favorites__items-checked {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}


.favorites__book {
    padding: 15px 175px 15px 20px;
    border: 1px solid #000;
    width: 550px;
    /* width: 36.3636%; */
    /* height: 100%; */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.66667;
    color: #000;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.favorites__book__pick {
    margin: 0;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.favorites__book__pick::after {
    content: '';
    display: block;
    width: 60px;
    border-bottom: 1px solid #BB945F;;
    margin-bottom: 20px;
}

.favorites__book__title {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

.favorites__book__author {
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 20px;
}

.favorites__book__description {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.favorites__book__btn {
    padding: 9px 27px;
    border-radius: 2px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #ffffff;
    width: 75px;
    margin-top: auto;
}

.favorites__book__btn-buy {
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
}

.favorites__book__btn-own {
    border: 1px solid #BB945F;
    color: #BB945F;
}

.favorites__book__image {
    position: absolute;
    bottom: -1px;
    right: -40px;
}

